/* ===============
   MOBILE RULES 
   =============== */

header {
	display: flex;
	justify-content: center;
	align-items: center;
}

nav {
	display: flex;
	flex: 100%;
	flex-direction: column;

}

.nav-item {
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-item-current {
	display: flex;
	justify-content: center;
	align-items: center;
}

main {
	margin: 30px;
}

.about-headshot {
	text-align: center;
	padding-bottom: 20px;
}


/* Remove checklist and checklist buttonsfrom mobile view */
@media screen and (max-width: 1024px)  {

div #checklist {
	display: none;
}

div .checklist-button {
	display: none;
}

}


/* ===============
   DESKTOP RULES 
   =============== */

@media screen and (min-width: 1025px)  {

header {
	display: flex;
}

nav {
	display: flex;
	flex-direction: row;
}

.nav-item {
	flex-grow: 1;
}

.nav-item-current {
	flex-grow: 1;
}

main {
	display: flex;
	flex-wrap: wrap;
	margin: 70px 0;
	width: 80%;
}

main .sidebar {
	flex: 0 0 250px;
	flex-direction: column;
}

main .intro {
	flex: 1 0 0;
	flex-direction: column;
	margin: 0 50px 50px 50px;
}

main .body-content {
	flex: 1 0 0;
	flex-direction: column;
	margin-left: 80px;
}

#checklist {
	position: -webkit-sticky;
  	position: sticky;
  	top: 0px;
}

div .checklist-button {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}

footer .about {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

footer .about-headshot {
	flex: 0 0 270px;
	flex-direction: column;
}

footer .about-content {
	flex: 1 0 0;
	flex-direction: column;
}

}

/* =====================
   SINGLE COLUMN LAYOUT
   ===================== */

.single-column {
	width: 70%;
	margin: 70px auto;
}

.single-column p {
	font-family: 'Quattrocento', sans-serif;
	font-size: 16px;
	color: rgba(3,11,43,100);
	line-height: 22px;
	margin-bottom: 20px;
}

.single-column ul li {
	font-family: 'Quattrocento', sans-serif;
	font-size: 16px;
	color: rgba(3,11,43,100);
	line-height: 22px;
	list-style-type: circle;
	margin-left: 50px;
}

.single-column a:link {
	color: rgba(138,146,1,100);
	text-decoration: none;
}

.single-column a:visited {
	color: rgba(138,146,1,100);
	text-decoration: none;
}

.single-column a:hover {
	color: rgba(138,146,1,100);
	text-decoration: underline;
}

.single-column a:active {
	color: rgba(138,146,1,100);
	text-decoration: underline;
}

.indent {
	margin-left: 50px;
}

/* ===============
   ALL OTHER STYLES 
   =============== */

body {
	background-color: rgba(250,245,230,80);
}

/* === HEADER === */

header {
	margin: 20px 0 10px 0;
}

#logo {
	font-family: 'Oswald', sans-serif;
	font-size: 36px;
	color: rgba(3,11,43,100);
	font-weight: 700;
	line-height: 42px;
	text-align: center;
}

#logo a {
	color: rgba(3,11,43,100);
	text-decoration: none;
}

#tagline {
	font-family: 'Quattrocento', sans-serif;
	font-size: 18px;
	color: rgba(3,11,43,100);
	padding: 15px 0;
	text-align: center;
}

/* === NAVIGATION === */

nav {
	padding-bottom: 15px;
	border-bottom: 4px double rgba(151,151,151,100);
}

.nav-item {
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	color: rgba(3,11,43,100);
	font-weight: 300;
	background-color: rgba(216,216,216,100);
	border: 1px solid rgba(151,151,151,100);
	height: 50px;
}

.nav-item a:link {
	color: rgba(3,11,43,100);
	text-decoration: none;
}

.nav-item a:visited {
	color: rgba(3,11,43,100);
	text-decoration: none;
}

.nav-item:hover {
	color: rgba(235,228,94,100);
	text-decoration: none;
	background-color: rgba(17,85,102,100);
}

.nav-item:hover a {
	color: rgba(235,228,94,100);
	text-decoration: none;
}

.nav-item a:active {
	color: rgba(3,11,43,100);
	text-decoration: none;
}

.nav-item-current {
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	color: rgba(235,228,94,100);
	font-weight: 300;
	background-color: rgba(17,85,102,100);
	border: 1px solid rgba(151,151,151,100);
	height: 50px;
}

.nav-item-current a:link {
	color: rgba(235,228,94,100);
	text-decoration: none;
}

.nav-item-current a:visited {
	color: rgba(235,228,94,100);
	text-decoration: none;
}

.nav-item a:active {
	color: rgba(235,228,94,100);
	text-decoration: none;
}

/* === BODY STYLES === */

/* === BODY LINKS === */

main a:link {
	color: rgba(138,146,1,100);
	text-decoration: none;
}

main a:visited {
	color: rgba(138,146,1,100);
	text-decoration: none;
}

main a:hover {
	color: rgba(138,146,1,100);
	text-decoration: underline;
}

main a:active {
	color: rgba(138,146,1,100);
	text-decoration: underline;
}

/* === HEADINGS === */

h1 {
	font-family: 'Oswald', sans-serif;
	font-size: 28px;
	color: rgba(3,11,43,100);
	line-height: 34px;
	text-transform: uppercase;
	margin-bottom: 10px;
}

h2 {
	font-family: 'Oswald', sans-serif;
	font-size: 24px;
	color: rgba(11,140,143,100);
	line-height: 30px;
	margin-bottom: 10px;
}

h3 {
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	color: rgba(17,85,102,100);
	line-height: 26px;
	text-transform: uppercase;
	margin-bottom: 10px;
}

strong {
	font-weight: 700;
}

main p {
	font-family: 'Quattrocento', sans-serif;
	font-size: 16px;
	color: rgba(3,11,43,100);
	line-height: 22px;
	margin-bottom: 20px;
}

main ul li {
	font-family: 'Quattrocento', sans-serif;
	font-size: 16px;
	color: rgba(3,11,43,100);
	line-height: 22px;
	list-style-type: circle;
	margin-left: 50px;
}

main ol li {
	font-family: 'Quattrocento', sans-serif;
	font-size: 16px;
	color: rgba(3,11,43,100);
	line-height: 22px;
	list-style-type: decimal;
	margin-left: 50px;
}

.subheading {
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	color: rgba(3,11,43,100);
	font-weight: 300;
	line-height: 22px;
}

#quote {
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	color: rgba(3,11,43,100);
	line-height: 26px;
	border-left: 4px solid rgba(11,140,143,100);
	padding: 10px 20px;
	margin: 30px 40px;
}

/* === CHECKLIST STYLES === */

main #checklist {
	background-color: rgba(39,60,51,100);
	border-radius: 0 15px 15px 0;
	padding: 20px 50px 70px 50px;
}

#checklist h2 {
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
	color: rgba(252,248,188,100);
	font-weight: 200;
	text-transform: uppercase;
	margin-bottom: 20px;
}

#checklist p {
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
	color: rgba(252,248,188,100);
	font-weight: 200;
}

/* === CHECKLIST BUTTON STYLES === */

#button-incomplete {
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	color: rgba(250,245,230,100);
	font-weight: 300;
	text-align: center;
	background-color: rgba(138,146,1,100);
	border-radius: 8px;
	padding: 10px;
	width: 250px;
}

.button-complete {
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	color: rgba(250,245,230,100);
	font-weight: 300;
	text-align: center;
	background-color: rgba(151,151,151,100);
	border-radius: 8px;
	padding: 10px;
	width: 250px;
}

/* === EXAMPLE STYLES === */

div .example {
	border-bottom: 1px solid rgba(151,151,151,100);
	margin: 50px;
}

h4 {
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(151,151,151,100);
    line-height: 0;
    padding: 0;
    margin: 30px 0 30px 0;
}

h4 span {
	color: rgba(3,11,43,100);
	background-color: rgba(250,245,230,100);
    padding: 0 15px;
}

.example li {
	font-family: 'Quattrocento', sans-serif;
	font-size: 16px;
	color: rgba(3,11,43,100);
	line-height: 22px;
}

/* === TIP STYLES === */


.tip {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	background-color: rgba(254,226,156,100);
	margin-bottom: 15px;
}

.tip-left {
	flex: 0 0 50px;
	flex-direction: column;
	align-self: flex-start;
	color: rgba(247,165,10,100);
	padding: 10px;
}

.tip-right {
	flex: 1 0 0;
	flex-direction: column;
	padding: 10px;
}

/* === FONT AWESOME === */

.flex-container {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 15px;
}

.flex-right {
	width: 90%;
}

.wtf {
	margin-top: 20px;
}

/* === FOOTER === */

.about-tab {
	font-family: 'Oswald',sans-serif;
	font-size: 16px;
	color: rgba(3,11,43,100);
	font-weight: 300;
	line-height: 50px;
	text-align: center;
	margin: auto;
	height: 45px;
	width: 90px;
	border-radius: 90px 90px 0 0;
	background-color: rgba(216,216,216,100);
}

.about {
	background-color: rgba(17,85,102,100);
	padding: 30px;
}

.about p {
	font-family: 'Quattrocento', sans-serif;
	font-size: 16px;
	color: rgba(250,245,230,100);
	line-height: 22px;
	margin-bottom: 20px;
}

.about a:link {
	color: rgba(235,228,94,100);
	text-decoration: none;
}

.about a:visited {
	color: rgba(235,228,94,100);
	text-decoration: none;
}

.about a:hover {
	color: rgba(235,228,94,100);
	text-decoration: underline;
}

.about a:active {
	color: rgba(235,228,94,100);
	text-decoration: underline;
}

.credits {
	background-color: rgba(3,11,43,100);
	padding: 20px;
}

.credits p {
	font-family: 'Quattrocento',sans-serif;
	font-size: 12px;
	color: rgba(250,245,230,100);
	line-height: 18px;
	text-align: center;
}

.credits a {
	color: rgba(250,245,230,100);
	text-decoration: none;
}

